body, button, input, select, table, textarea {
	font-family: -apple-system, BlinkMacSystemFont, "NotoSans Light", "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
}

body, h1, input, ul, p {
	margin: 0;
	padding: 0;
}

ul { list-style: none; }
a { text-decoration: none; color: #000; }