.todo {
	overflow: hidden;

	&__item {
		display: flex;
		padding: 10px;
		border: 1px solid $oc-gray-2;
		margin-top: -1px;
		cursor: pointer;
		position: relative;

		&:first-child {
			margin-top: 1px;
		}

		&:last-child {
			border-bottom: 1px solid $oc-gray-2;
		}

		&:hover .todo__delete {
			display: flex;
		}

		&--delete {
			animation-duration: 1s;
  			animation-name: delete;
		}

		p {
			padding-left: 10px;
			overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
		}
	}

	&__delete {
		display: none;
		margin-left: auto;
	}

	&__completed {
		display: none;

		&:checked + label {
			background: url(../images/checkbox.png) -52px -10px;
		}

		&:checked ~ p {
			text-decoration: line-through
		}
	}

	&__label {
	    min-width: 23px; height: 23px;
	    background: url(../images/checkbox.png) -10px -10px;
	}

	@keyframes delete {
		from {
			transform: translateX(0);
		} to {
			transform: translateX(100px);
			opacity: 0;
		}
	}
}